aiohttp==3.7.4
asyncio==3.4.3
fastai==1.0.61
fastapi>=0.68.0,<0.69.0
torch==1.2.0+cpu
torchvision==0.4.0+cpu
-f https://download.pytorch.org/whl/torch_stable.html
pydantic>=1.8.0,<2.0.0
spacy==2.2.4
numpy==1.19.0
scikit-learn==1.0.2
uvicorn==0.11.7
